In [ ]:
#using selenium for webscraping and also using the exception handling
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [ ]:
#chromeweb browser is used
driver = webdriver.Chrome("Chromedriver.exe")

In [ ]:
#guardian website is used
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

In [21]:
#getting all the value
rank=[]

try:

    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[1]")

    for i in names:

        rank.append(i.text)

except NoSuchElementException:#handling no such element exception

    rank.append('No details available')

print(len(rank))


book_name=[]

try:

    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")

    for i in names:

        book_name.append(i.text)

except NoSuchElementException:#handling no such element exception

    book_name.append('No details available')

print(len(book_name))

volume_sales=[]

try:

    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")

    for i in names:

        volume_sales.append(i.text)

except NoSuchElementException:#handling no such element exception

    volume_sales.append('No details available')

print(len(volume_sales))

author = []
try:

    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")

    for i in names:

        author.append(i.text)

except NoSuchElementException:#handling no such element exception

    author.append('No details available')

print(len(author))

publisher = []
try:

    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")

    for i in names:

        publisher.append(i.text)

except NoSuchElementException:#handling no such element exception

    publisher.append('No details available')

print(len(publisher))

genre = []
try:

    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")

    for i in names:

        genre.append(i.text)

except NoSuchElementException:#handling no such element exception

    genre.append('No details available')

print(len(genre))

rank
author
book_name
volume_sales
publisher
genre
#dataframe is used
df = pd.DataFrame({})
df['rank'] = rank
df['author'] = author
df['book name'] = book_name
df['volume sales'] = volume_sales
df['publisher'] = publisher
df['genre'] = genre

df

100
100
100
100
100
100

,rank,author,book name,volume sales,publisher,genre
0,1,"Brown, Dan","Da Vinci Code,The","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,"Rowling, J.K.",Harry Potter and the Deathly Hallows,"4,475,152",Bloomsbury,Children's Fiction
2,3,"Rowling, J.K.",Harry Potter and the Philosopher's Stone,"4,200,654",Bloomsbury,Children's Fiction
3,4,"Rowling, J.K.",Harry Potter and the Order of the Phoenix,"4,179,479",Bloomsbury,Children's Fiction
4,5,"James, E. L.",Fifty Shades of Grey,"3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Harris, Robert","Ghost,The","807,311",Random House,General & Literary Fiction
96,97,"Oliver, Jamie",Happy Days with the Naked Chef,"794,201",Penguin,Food & Drink: General
97,98,"Collins, Suzanne","Hunger Games,The:Hunger Games Trilogy","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Pelzer, Dave","Lost Boy,The:A Foster Child's Search for the L...","791,507",Orion,Biography: General
99,100,"Oliver, Jamie",Jamie's Ministry of Food:Anyone Can Learn to C...,"791,095",Penguin,Food & Drink: General